.icon-container {
  position: relative;
}

.icon-description {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  transition: opacity 1.0s ease;
  z-index: 2; /* Update z-index to send it behind the icon */
}

.icon-container:hover .icon-description {
  opacity: 1;
}

body {
  --s:67px;
  --m:4px; 
  --v1: #000000 119.5deg, #0000 120.5deg;
  --v2: #000000  119.5deg, #0000 120.5deg;
  background:linear-gradient(90deg,black,#121212,black) left/400% 100%;
  background-size: cover;
  background-position: 50% 50%;
}



 
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  }
  
  .switch input { 
  display: none;
  }
  
  
  input:checked + .slider {
  background-color: #2196F3;
  }
  
  input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .search-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .slider-container {
    margin-left: 10px; /* adjust this value to increase or decrease the space between the search box and the slider */
  }
  
  
  .searchbox input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 300px;
    border-radius: 25px; 
    transition: box-shadow 0.7s ease-in-out;
}

.searchbox input[type="text"]:focus {
    box-shadow: 0px 0px 0px 7px #d3d3d3;
}

  
  .switch {
    display: inline-block;
  }
  /* Menubar */
  .menubar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 25px;
    border: 2px solid #737373;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 140px;
    width: 525px;
    background: rgba(28, 28, 28, .2);
    animation: animations 3s ease-in-out infinite;
    
  }
  
  .menubar:hover {
    transition: 0.7s ease-in-out;
    border: 2px solid #b3b3b3;
  }
  
  .menubar a img {
    width: 35px;
    height: 35px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    transition: transform 0.7s ease-in-out; 
  }
  
  .menubar a img:hover {
    transform: scale(1.1);
  }
  
  
  /* Menubar Icons */
  .icon:hover img {
      transform: scale(1.1);
  }
  
  .incognito:hover img {
      background-color: #00A1FF;
  }
  .irepel:hover img {
    background-color: #0160D1;
  }
  .hypertabs:hover img {
    background-color: #B500A2;
  }
  
  .terbium:hover img {
      background-color: #38B253;
  }
  
  .utopia:hover img {
      background-color: #607D8B;
  }
  .shuttle:hover img {
    background-color: #696999;
}
  .delta:hover img {
    background-color: #1193B2;
  }
  .cosmic:hover img {
    background-color: #562473;
  }
  
  .fracital:hover img {
      background-color: #CB6CE6;
  }
  
  .settings:hover img {
    background-color: #696999;
}
  
  .generalmath:hover img {
      background-color: #012421;
  }
  
  .elixir:hover img {
      background-color: #F59521;
  }
  
  .abyss:hover img {
      background-color: #000000;
  }
  .rammerhead:hover img {
    background-color: #111111;
}
  
  .interstellar:hover img {
      background-color: #696969;
  }
  .nebula:hover img {
    background-color: #5E17EB;
  }
  /* Searchbox */
  .searchbox {
    background: rgba(28, 28, 28, .8);
    top: calc(50% + 90px);
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 2px solid #737373;
    height: 20px;
    width: 300px;
    overflow: hidden;
    top: calc(50% + 120px);
  }

  .searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: animations 3s ease-in-out infinite;
    
  }
  
  .searchbox input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 300px;
    
  }

  /* Widget CSS */
#widget button img{
  width: 50px;
  height: 50px;
  z-index: 5;
  border: none;
  background: transparent;
}
#widget button:hover{
  background: #5864F1;
}
#widget{
  position: relative;
  height: 700px;
}
#widget button{
  position: fixed;
  bottom: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 15px;
  border-radius: 50%;
}
  /* Floating Animation */
  @keyframes animations {
    0%{
      transformation: translate(-50%, -50%) translateY(0);
    }
    50%{
      transform: translate(-50%,-50%) translateY(-3px);
    }
    100%{
      transform: translate(-50%, -50%) translateY(0);
    }
  }
  /* Gradient Animation */
  @keyframes animations {
    100% {background-position:right}
  }
@keyframes Gradient {
  0% {
    background-position: 100% 0%;
    background: black;
  }
  50% {
    background-position: 50% 100%;
    background: #121212;
  }
  100% {
    background-position: 0% 100%;
    background: black;
  }
}